XAFIRO_EMPRESA=
XAFIRO_USUARIO=
XAFIRO_PASSWORD=

NEO_USUARIO=
NEO_PASSWORD=

# Opcionales
XAFIRO_BASE_URL=https://hotel.xafiro.net
NEO_AUTH_BASE_URL=https://neo.castillodechancay.com/ms_auth
NEO_BOLETERIA_BASE_URL=https://neo.castillodechancay.com/ms_boleteria
APP_HOST=127.0.0.1
APP_PORT=5050
APP_DEBUG=false
