XAFIRO_EMPRESA=
XAFIRO_USUARIO=
XAFIRO_PASSWORD=

NEO_USUARIO=
NEO_PASSWORD=

CULQI_USUARIO=
CULQI_PASSWORD=

MIFACT_ASOCIACION_TOKEN=
MIFACT_RESORT_TOKEN=
MIFACT_USUARIO=
MIFACT_PASSWORD=

# Opcionales
XAFIRO_BASE_URL=https://hotel.xafiro.net
NEO_AUTH_BASE_URL=https://neo.castillodechancay.com/ms_auth
NEO_BOLETERIA_BASE_URL=https://neo.castillodechancay.com/ms_boleteria
CULQI_API_BASE_URL=https://api.panel.culqi.com/or-channel-panel/api
CULQI_TIMEZONE=America/Lima
MIFACT_ASOCIACION_URL=https://api5.mifact.net/rapirest/api/vista/exportarExcelDocumento
MIFACT_RESORT_URL=https://api6.mifact.net/uapirest/api/vista/exportarExcelDocumento
MIFACT_DOMINIO=sistema.mifact.net
MIFACT_LOGIN_BASE_URL=https://api.mifact.net/loginws
APP_HOST=127.0.0.1
APP_PORT=5050
APP_DEBUG=false
